body {
  background-color: black;
  color: rgb(220, 220, 220);
  margin: 20px;
}

h1 {
  font-family: "Orbitron";
  font-size: 3rem;
  margin: 0;
  text-align: center;
}

.light {
  color: rgb(255, 230, 0);
}

.medium {
  color: rgb(180, 160, 0);
}

.dark {
  color: rgb(105, 90, 0);
}

.container {
  font-family: sans-serif;
  margin: auto;
  max-width: 500px;
}

.heading {
  border-top: 4px solid rgb(44, 40, 0);
  border-bottom: 4px solid rgb(44, 40, 0);
  font-family: "Roboto";
  font-size: 2rem;
  margin: 2rem 0 0 0;
  padding: 15px 0px;
  text-align: center;
  text-transform: uppercase;
}

@media (max-width: 450px) {
  h1 {
    font-size: 2.4rem;
  }

  .heading {
    border-top: 3px solid rgb(44, 40, 0);
    border-bottom: 3px solid rgb(44, 40, 0);
    font-size: 1.2rem;
    margin: 1rem 0 0 0;
    padding: 10px 0px;
  }
}
